{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<h1>Access denied</h1>

<p>
    ArrrrrggggGGGG !!! What do you do ??? Go away !!!  <a href="{{ path('pageName') }}">return to the homepage</a>.
</p>
{% endblock %}