{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<h1>ERROR</h1>

<p>
    ERROR SERVER <a href="{{ path('pageName') }}">return to the homepage</a>.
</p>
{% endblock %}